:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* # General
    =================================================*/

body {
  word-wrap: break-word;
}

img,
svg {
  vertical-align: middle;
}

input {
  width: 100%;
}

input,
input:focus,
button {
  border: none;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  background: unset;
}

button,
[role=button],
[class*='btn'] {
  cursor: pointer;
}

figure {
  max-width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* font-size start */
.fs-5 {
  font-size: 1.25rem !important;
}
/* font-size end */

.d-block {
  display: block !important;
}

/* flex start */
.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

/* flex end */

.rounded {
  border-radius: .25rem !important;
}

/* text-color */
.text-dark {
  color: #212529 !important;
}

/* text-color */

/* margin & padding */
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}
/* margin & padding*/

.fw-bold {
  font-weight: 700 !important;
}

.border-0 {
  border: 0 !important;
}
/* form */
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/* form */

/* # Responsive Code
    =================================================*/


@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* Blog grid _____________start */
}

@media screen and (min-width: 768px) {

  .container {
    max-width: 720px;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-lg-flex {
    display: flex !important;
  }
  .ms-lg-auto {
    margin-left: auto !important;
}
}


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}